
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-image: url("https://i.gifer.com/ADyC.gif"); 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 20%;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  color: red;
  font-size: large;
  text-align: center
}

.header{
  position: top;
}
.bg-image img {
 border: salmon;
  border-radius: 500px;
}

.card-body {
  background-color: rgb(209, 204, 204);
}